extends base

block content
    main.main
        .success
            .success__title
                h2.heading-secondary Email verification completed!
                h2.success__emoji 🎉
            .success__msg Login to start booking tours now!